.main-container {
  max-width: 1040px;
  margin: auto;
}

@media (max-width: $break-wide) {
  .main-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: $break-narrow) {
  .main-container {
    width: 100%;
    padding-left: unset;
    padding-right: unset;
  }
}
